name: Main

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "**/README.md"
      - "assets/**"

env:
  KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}

defaults:
  run:
    shell: bash
    working-directory: zeapp

jobs:
  build-release:
    runs-on: ubuntu-latest
    environment: default
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check folders after checkout repo
        run: tree -P '*.apk' --prune
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3
      - name: Assemble Release
        run: ./gradlew :android:assembleRelease --no-daemon
      - name: Check folders after assembleRelease
        run: tree -P '*.apk' --prune
      - name: Upload Release APK to GitHub Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Release APK
          path: zeapp/android/build/outputs/apk/release/android-release.apk
      - name: Check folders after upload apk
        run: tree -P '*.apk' --prune
      - name: Upload binaries to a release
        uses: svenstaro/upload-release-action@v2
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          release_name: ${{ format('Release v{0}', github.run_number) }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: zeapp/android/build/outputs/apk/release/android-release.apk
          asset_name: ze-badge-${{ github.sha }}.apk
          tag: ${{ github.run_number }}
          overwrite: true
      - name: Check folders after upload binaries
        run: tree -P '*.apk' --prune
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3
      - name: Lint
        run: ./gradlew lint --no-daemon
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3
      - name: Detekt
        run: ./gradlew detekt
