name: Main

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "**/README.md"
      - "assets/**"

defaults:
  run:
    shell: bash
    working-directory: zeapp

jobs:
  build-debug:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v3
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Assemble Debug"
        run: ./gradlew :app:assembleDebug --no-daemon
      - name: "Upload Debug APK to GitHub"
        uses: actions/upload-artifact@v3
        with:
          name: Debug APK
          path: zeapp/app/build/outputs/apk/debug/app-debug.apk
      - name: "Upload binaries to a release"
        uses: svenstaro/upload-release-action@v2
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          release_name: ${{ format('Release v{0}', steps.versioning.outputs.app_version) }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: app/build/outputs/apk/debug/app-debug.apk
          asset_name: ze-badge.apk
          tag: ${{ format('v{0}', steps.versioning.outputs.app_version) }}
          overwrite: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v3
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Lint"
        run: ./gradlew lint --no-daemon
