name: Main

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "**/README.md"
      - "assets/**"

env:
  KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}

defaults:
  run:
    shell: bash
    working-directory: zeapp

jobs:
  build-release:
    runs-on: ubuntu-latest
    environment: default
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Cache and Restore BuildCache
        uses: actions/cache@v4
        with:
          path: '**/build-cache/**'
          key: build-${{ github.sha }}
          restore-keys: |
            build-${{ github.sha }}
            build-
      - name: Assemble Release
        run: ./gradlew :android:assembleRelease --no-daemon
      - name: Check folders after assembleRelease
        run: tree -P '*.apk' --prune
      - name: Upload Release APK to GitHub Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Release APK
          path: zeapp/android/build/outputs/apk/release/android-release.apk
      - name: Check folders after upload apk
        run: tree -P '*.apk' --prune
      - name: Upload binaries to a release
        uses: svenstaro/upload-release-action@v2
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          release_name: ${{ format('Release v{0}', github.run_number) }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: zeapp/android/build/outputs/apk/release/android-release.apk
          asset_name: ze-badge-${{ github.sha }}.apk
          tag: ${{ github.run_number }}
          overwrite: true
      - name: Check folders after upload binaries
        run: tree -P '*.apk' --prune
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: true

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Restore BuildCache
        uses: actions/cache/restore@v4
        with:
          path: '**/build-cache/**'
          key: build-${{ github.sha }}
          restore-keys: |
            build-${{ github.sha }}
            build-
      - name: Lint
        run: ./gradlew lint --no-daemon
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: true

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Restore BuildCache
        uses: actions/cache/restore@v4
        with:
          path: '**/build-cache/**'
          key: build-${{ github.sha }}
          restore-keys: |
            build-${{ github.sha }}
            build-
      - name: Detekt
        run: ./gradlew detekt
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Cache and Restore BuildCache
        uses: actions/cache@v4
        with:
          path: '**/build-cache/**'
          key: build-${{ github.sha }}
          restore-keys: |
            build-${{ github.sha }}
            build--
      - name: "Test"
        run: ./gradlew test
