name: PR

on:
  pull_request:
    paths-ignore:
      - "**/README.md"
      - "assets/**"

defaults:
  run:
    shell: bash
    working-directory: zeapp

jobs:
  build-debug:
    runs-on: [self-hosted, ubuntu-latest]
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v3
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Assemble Debug"
        run: ./gradlew :app:assembleDebug --no-daemon
      - name: "Upload Debug APK to GitHub"
        uses: actions/upload-artifact@v3
        with:
          name: Debug APK
          path: zeapp/app/build/outputs/apk/debug/app-debug.apk

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v3
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Lint"
        run: ./gradlew lint --no-daemon
  detekt:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v3
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Detekt"
        run: ./gradlew detekt
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v3
      - name: "Setup Java 17"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: "Validate Gradle wrapper"
        uses: gradle/wrapper-validation-action@v1
      - name: "Test"
        run: ./gradlew test
    
